header, footer {
    text-align: center;
    background-color: maroon;
    border-radius: 10px;
    max-width: 600px;
    font-family: 'Source Sans Pro', sans-serif;
}

#lastupdate {
    color: rgb(126, 126, 6);
}

#headshot {
    float: right;
    max-width: 150px;
    padding: 5px;
}