/* GENERAL WEBPAGE STYLING */
body {
    max-width: 1200px;
}

/* === END GENERAL WEBPAGE STYLING === */

/* RIVER CARD STYLING */
    main section{
        grid-template-columns: 1fr;

        div {
            max-width: 300px;
        }
        img {
            padding-left: 7px;
        }
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .employeecards section{
        grid-template-columns: 1fr 1fr;
        img {
            height:100%;
        }
    }


/* === END RIVER CARD STYLING === */

/* WEATHER BOX STYLING */
.weathertitle {
    font-size: 1.5em;
}
/* === END WEATHER BOX STYLING === */

.contact-us-body {
    grid-template-rows: 1fr;
}
