//colors
$bannerFooter: #009da5;
$bodyBackground: #54494b;
$accent: #007D84;
$riverCardBackground: #f0ead6;

//fonts
$textFontFamily:'Baloo Thambi 2', cursive;
$titleFontFamily: 'Permanent Marker', cursive;
