@media only screen and (min-width: 64rem) {

    nav ul.hide,
    nav ul {
        display: flex;
        justify-content: space-between;
    }

    body {
        max-width: 64rem;
    }

    nav ul a {
        border-top: none
    }

    #hero {
        width: 63rem;
    }

    .towns {
        grid-template-columns: 1fr 1fr 1fr;
    }
}