@media only screen and (min-width: 36em) {
    nav button {
        display: none;
    }

    nav ul.hide {
        display: block;
    }

    .currentpage {
        display: none;
    }

    nav ul li.active a {
        background-color: rgba(0, 0, 0, 0.20);
    }

    #hero {
        width: 500px;
    }

    #mappicture {
        display: inline;
    }

    .contactcontainer {
        display: flex;
        justify-content: center;
    }

    .contactcontainer section p {
        margin-top: 30%;
        margin-right: 10%;
    }

    .towns  {
        max-width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}