@media only screen and (min-width: 64rem) {

    nav ul.hide,
    nav ul {
        display: flex;
        justify-content: space-between;
    }

    body {
        max-width: 64.2rem;
    }

    nav ul a {
        border-top: none
    }

    header h2 {
        font-size: 2.7em;
    }

    #hero {
        width: 63rem;
    }

    .towns {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .forcast section {
        background-color: black;
    }
    .fivedaylong {
        display: block;
    }
    .forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .forecast section {
        background-image: radial-gradient(#FFB800, #FF5714);
        margin: 5px;
        border-radius: 10px;
    }

    .gallerygrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}