/*
color scheme colors
#FCD9BA - Peach Puff - accent background color
#0D117C - Dark Imperial Blue - Link color
#FFB800 - Selective Yellow - background color
#FF5714 - Orioles Orange - Accent background color
*/

/* center the entire body */
body {
    background-color: #FCD9BA;
    text-align: center;
    margin: auto;
    max-width: 800px;
}

body h1,
h2,
h3,
h4 {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

/* banner for design */
header,
footer {
    background-color: #FF5714;
    padding: 10px;
}

header section {
    display: flex;
    flex: 1 1 100%;
}

header h2 {
    font-size: 1.5em;
}

/* === END BANNER === */

/* Nav button design */
nav {
    background-color: #FFB800;
}

nav button {
    font-size: 1.6em;
    border: none;
    background-color: transparent;
    float: left;
}

nav ul {
    list-style: none;
    flex: 1 1 100%;
    padding: 0px;
    margin: 0px;
}

nav ul a {
    text-decoration: none;
    white-space: nowrap;
    border-top: 1px solid black;
    color: black;
    padding-right: 44px;
    padding-left: 44px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.20);
}

nav ul.hide {
    display: none;
}

/* === END NAV BUTTON === */

/* hero w/ image */

.container {
    position: relative;
}

#hero {
    width: 430px;
}

main div section div {
    text-align: center;
    max-width: 180px;
    height: 150px;
    padding: 10px;
}

.weatherbox {
    position: absolute;
    bottom: -10px;
    left: 30px;
    border-radius: 20px;
    background-image: radial-gradient(#FFB800, #FF5714);
    opacity: 90%;
}

/* === END HERO W/ IMAGE === */

/* === Home === */
.towns {
    max-width: 80%;
    margin: auto;
}

.towns section {
    border: solid black 1px; /* dont forget to remove this */
    padding: 0px;
    margin: 5px;
    background-image: radial-gradient(#FFB800, #FF5714);
}

.towns section img {
    padding: 10px;
    max-width: 100%;
    border-radius: 15px;
}
/* === END HOME === */

/* === STORM CENTER === */

#back-storm-center {
    text-decoration: none;
    color: black;
    background-image: radial-gradient(#FFB800, #FF5714);
    padding: 15px;
    max-width: 150px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
}

#back-storm-center:hover {
    box-shadow: 0px 0px 17px 6px rgba(0,0,0,0.75);
}
/* === END STORM CENTER === */

/* === Gallery === */
.gallerygrid {
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.gallerygrid picture img {
    max-width: 100%;
}

.gallerygrid picture img:hover {
    box-shadow: 7px -3px 12px 5px rgba(0,0,0,0.79)
}

.gallerywording {
    padding: 0px;
    margin: auto;
    margin-top: -5px;
    max-width: 400px;
    text-align: center;
    background-image: radial-gradient(#FFB800, #FF5714);
    opacity: 90%;
}
/* === END GALLERY === */

/* === Storm Center === */
legend {
    padding-left: 10px;
    padding-right: 10px;
}
form div {
    padding: 5px;
}
.required {
    color:red;
}

form fieldset{
    border-radius: 10px;
    text-align: left;
    white-space: nowrap;
    margin: 10px;
    max-width: 80%;
}
/* === END STORM CENTER === */

/* Contact Information */
#mappicture {
    display: none;
    width: 280px;
}

/* === END CONTACT INFORMATION === */

.fivedaylong {
    display: none;
}

#fridaybanner {
    display: block;
    padding: 10px;
    background-color: #FFB800;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}