/*
color scheme colors
#FCD9BA - Peach Puff - accent background color
#0D117C - Dark Imperial Blue - Link color
#FFB800 - Selective Yellow - background color
#FF5714 - Orioles Orange - Accent background color
*/

.banner {
    background-color: #FF5714;
    display: flex;
    font-size: 2em;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    max-width: 900px;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav {
    background-color: #ffB800;
    max-width: 900px;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav  {
    display: flex;
}

header nav section {
    flex: 1 1 100%;
}

h1 {
    font-size: 1em;
}
header a {
    color:  #0D117C;
    text-decoration: none;
    display: block;
    padding: 1.5em;
}
footer a, #link{
    color:  #0D117C;
    text-decoration: none;
}

body {
    background-color: #FCD9BA;
    max-width: 900px;
    align-items: center;
    margin: auto;
    padding: 5px;
}

/*css section for color scheme */
#peachpuff {
    background-color: #FCD9BA;
    padding: 5px;
    border: 2px solid black;
    max-width: 900px;
}

#darkimperialblue {
    background-color: #0D117C;
    padding: 5px;
    border: 2px solid black;
    max-width: 900px;
    color: white;
}

#selectiveyellow {
    background-color: #FFB800;
    padding: 5px;
    border: 2px solid black;
    max-width: 900px;
}

#oriolesorange {
    background-color: #FF5714;
    padding: 5px;
    border: 2px solid black;
    max-width: 900px;
}

/*example section for fonts */

#font {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 2em;
}

footer {
    max-width: 900px;
    background-color: #FF5714;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 5px;
}